<div id="omnibox-desc" class="flex">Search or Create Note</div>
<div id="omnibox-entry" class="input-div flex editable" contenteditable=""><%=text%></div>
<div id="omnibox-bottombar">
    <div id="omnibox-icons" class="hbox">
        <div class="iconTab box center_box clickable">
            <img id="pinIconPlus" src="img/pin_plus.png" title="Keep this note at the top of my list.">
        </div>
        <div id="save-icon" class="clickable iconTab box center_box">
            <img src="img/plus.png" title="Save this note!">
        </div>
    </div>
</div>

