<ul id="<%=obj.id%>" class="wysihtml5-toolbar <%=obj.className%>" style="display: none;">
<% _.each(items, function(item) { %>
    <% switch(item) { case "italic": %><li title="Italic (ctrl-i)" data-wysihtml5-command="italic"></li>
    <% break; case "underline": %><li title="Underline (ctrl-u)" data-wysihtml5-command="underline"></li>
    <% break; case "bold": %><li title="Bold (ctrl-b)" data-wysihtml5-command="bold"></li>
    <% break; case "mode": %><li title="Toggle raw HTML mode" data-wysihtml5-action="change_view"></li>
    <% break; case "spacer": %><li class="spacer"></li>
    <% break; case "foreground": %>
    <li data-wysihtml5-command-group="foreColor" class="fore-color" title="Color the selected text">
    <ul>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="gray"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="maroon"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="purple"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="yellow"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="navy"></li>
        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue"></li>
    </ul>
    </li>
<% }}); %>
</ul>
