<div id="help-header">
    <h2 class="help-title">List.it</h2>
    <a id="showListLink" href="#">Take me back to my notes</a>
</div>
<div id="title-circle"></div>
<div id="help-body">
    <div id="help-main">
        <h3>Help</h3>
        <p>
            <a href="http://listit.csail.mit.edu/">List.it</a> is a
            <a href="http://code.google.com/p/list-it">free and open-source</a>
            note-taking tool from <a href="http://www.csail.mit.edu/">MIT CSAIL</a>
            that lets you safely, quickly, and easily write stuff down.
        </p>
        <h4>Writing A Note</h4>
        <p>
            You use the same text editor to create new notes and edit old ones. These buttons are used in both:
        </p>
        <table>
            <tr><th>Button</th><th>Description</th></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="HTML" src="img/toolbar/text-html.png"></td><td><b>Enter raw HTML mode.</b> 
            This will allow you to edit the HTML of your note.</td></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="Bold" src="img/toolbar/format-text-bold.png"></td><td><b>Make selected text 
            bold.</b></td></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="Italic" src="img/toolbar/format-text-italic.png"></td><td><b>Make selected 
            text italicized.</b></td></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="Underline" src="img/toolbar/format-text-underline.png"></td><td><b>
            Make selected text underlined.</b></td></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="Color" src="img/toolbar/format-text-color.png"></td><td><b>Change the color 
            of the selected text.</b></td></tr>
            <tr><td class="imgtd"><img height="16" width="16" title="Hyperlink" src="img/toolbar/link.png"></td><td><b>Add a hyperlink.</b></td></tr>
        </table>
        <p>
            There are also several hotkeys you can use while writing a note:
        </p>
        <table>
            <tr><th>Hotkey</th><th>Description</th></tr>
            <tr><td><b>Control+S</b></td><td><b>Save the note.</b></td></tr>
            <tr><td><b>Shift+Enter</b></td><td><b>Save the note.</b></td></tr>
            <tr><td><b>Control+B</b></td><td><b>Make selected text bold.</b></td></tr>
            <tr><td><b>Control+I</b></td><td><b>Make selected text italicized.</b></td></tr>
            <tr><td><b>Control+U</b></td><td><b>Make selected text underlined.</b></td></tr>
            <tr><td><b>Control+Z</b></td><td><b>Undo.</b> Removes your last change.</td></tr>
            <tr><td><b>Control+Y</b></td><td><b>Redo.</b> Adds back in a removed change.</td></tr>
        </table>
        <h4>Creating A New Note</h4>
        <p>
            Just type into the top box to start creating a new note. When you are done, save the note
            to add it to your notelist.
        </p>
        <p>
            List.it has several features to help you find old notes later. You can include tags to help you 
            search for the note. Just type a hashtag "#" in front of a word and it becomes a tag. You can also 
            pin a note, which keeps it at the top of your note list. You can use the button to save it with a 
            pin, or you can type an exclamation point "!" at the beginning of your note and it will be 
            automatically pinned.
        </p>
        <p>
            Here are the buttons specific to the note creator:
        </p>
        <table>
            <tr><th>Button</th><th>Description</th></tr>
            <tr><td class="imgtd"><img height="22" width="22" title="Pin Save" src="img/actions/add_pinned.png"></td><td><b>Save note with
            a pin.</b> This will keep your note pinned to the top of your notelist.</td></tr>
            <tr><td class="imgtd"><img height="22" width="22" title="Save" src="img/actions/add.png"></td><td><b>Save the note.</b></td></tr>
        </table>
        <p>
            Here are the hotkeys used in the note creator:
        </p>
        <table>
            <tr><th>Hotkey</th><th>Description</th></tr>
            <tr><td><b>Escape</b></td><td><b>Clear the contents of the note creator.</b></td></tr>
            <tr><td><b>Control+Enter</b></td><td><b>Save the note with the contents of the searchbar.</b> 
            If you have the separate searchbar open, this will add your search terms to the beginning 
            of your note and save it.</td></tr>
        </table>
        <h4>Searching Your Notes</h4>
        <p>
            As you create a note, your notelist is automatically searched. You can search by tags and words  
            and for a phrase by wrapping it in quotation marks. If you want to exclude a certain word or tag, 
            you can type a minus sign "-" in front of it to filter it out.
        </p>
        <h4>Separate Searchbar</h4>
        <p>
            You also have the option of opening a separate searchbar. While it is open, your notelist will 
            be filtered by the contents of the searchbar. Typing in the note creator will no longer filter  
            your notes. If you start writing a new note and then open the searchbar, the contents of your 
            note will automatically be added to the searchbar. This way you can keep your notes filtered 
            while you write the rest of your new note.
        </p>
        <p>
            You can open and close the searchbar by pressing the button in the controls, or you can use the 
            following hotkeys anywhere in List.it:
        </p>
        <table>
            <tr><th>Hotkey</th><th>Description</th></tr>
            <tr><td><b>Control+F</b></td><td><b>Open the searchbar.</b></td></tr>
            <tr><td><b>Control+X</b></td><td><b>Close the separate searchbar.</b> Now the note creator will
            go back to searching your notelist.</td></tr>
        </table>
        <p>
           Here are the hotkeys used in the searchbar:
        </p>
        <table>
            <tr><th>Hotkey</th><th>Description</th></tr>
            <tr><td><b>Esc</b></td><td><b>Close the searchbar.</b></td></tr>
            <tr><td><b>Control+F</b></td><td><b>Select contents of searchbar.</b></td></tr>
            <tr><td><b>Control+X</b></td><td><b>Close the searchbar.</b></td></tr>
        </table>
        <h4>Controls</h4>
        <p>
            To the right of the note creator there is a control bar. It contains these buttons:
        </p>
        <table>
            <tr><th>Button</th><th>Description</th></tr>
            <tr><td class="controltd"><img height="16" width="16" class="inactive" title="search" src="img/controls/search.png"></td>
                <td><b>Open the separate searchbar.</b></td>
            </tr>
            <tr><td class="controltd"><img height="16" width="16" title="search" src="img/controls/search.png"></td><td><b>Close 
            searchbar.</b></td></tr>
            <tr><td class="controltd"><img height="16" width="16" title="Not Searching" src="img/controls/search-fail.png"></td>
            <td><b>Searching has stopped.</b> This is letting you know that your search terms didn't 
            match any notes, so List.it stopped filtering them. You can still click this to open/close 
            the searchbar. You'll also notice your note list becomes grayer when a search fails.</td></tr>
            <tr><td class="controltd"><img height="16" width="16" title="Not syncing" src="img/controls/sync-disabled.png"></td>
            <td><b>Sync is disabled.</b> This is letting you know that you're currently not logged in so
            your notes aren't syncing. If you want to sync your notes, go to the options page to log in.
            </td></tr>
            <tr><td class="controltd"><img height="16" width="16" title="Sync" src="img/controls/sync.png"></td><td><b>Sync your 
            notes.</b> If you have a list.it account, this will allow you to sync your notes onto our server. 
            This means you'll be able to access them from multiple places and if something happens to your 
            notes, you'll be able to recover them. While logged in, your notes will occasionally sync
            automatically, but you can click this to force them to sync. This button will spin while your
            notes are being synced.</td></tr>
            <tr><td class="controltd"><img height="16" width="16" title="Options" src="img/controls/options.png"></td><td><b>Go to 
            the options page.</b> Here you'll be able to sign up for an account or log in. You can also set  
            some of your preferences. If you want to import or export your notes, you can also do that on the 
            options page.</td></tr>
        </table>
        <h4>Your Notes</h4>
        <p>
            Below the note creator you can see a list of all of the notes you have created. They are 
            organized by when they were created, with your newest notes appearing higher in the list. 
            Pinned notes stay at the very top. You can change whether or not a note is pinned by 
            clicking on the star. You can reorganize your notes by clicking and dragging them to a new 
            location, but you can't drag pinned notes.
        </p>
        <p>
            You'll notice that tags in your notes look like links. If you click them, they'll be added
            to the searchbar. If they were already in the searchbar, then they will be removed. This  
            will make it easier to filter your notes.
        </p>
        <p>
            Here are the buttons you will use while viewing your notelist:
        </p>
        <table>
          <tr><th>Button</th><th>Description</th></tr>
          <tr><td class="imgtd"><img height="10" width="10" title="delete" src="img/close.png"></td><td><b>Delete this note.</b></td></tr>
          <tr><td class="imgtd"><img height="16" width="16" title="pinned" src="img/note/star-active.png"></td><td><b>Unpin this note.</b></td></tr>
          <tr><td class="imgtd"><img height="16" width="16" title="unpinned" src="img/note/star-inactive.png"></td><td><b>Pin this note.</b></td></tr>
        </table>
        <h4>Editing A Note</h4>
        <p>
            You can click on the contents of a note to edit it. If you click outside of the note, it 
            will automatically save. This hotkey is unique to the editor:
        </p>
        <table>
            <tr><th>Hotkey</th><th>Description</th></tr>
            <tr><td><b>Escape</b></td><td><b>Close the editor.</b> This saves the note.</td></tr>
        </table>
        <h4>The Studies</h4>
        <p>
            The team here at MIT CSAIL created List.it as a simple note-taking tool, but we're also 
            interested in studying the way people take notes. These studies help us to make a better 
            program for you! When you sign up for a List.it account you can choose to opt in to our study. 
            Our researchers will be able to study your notes. No one outside of our research group will be 
            able to access any of your information unless you give us explicit permission.
        </p>
        <p>
            Get more information about the studies <a href="https://welist.it/study/study.html">here</a>.
        </p>
        <h4>Settings</h4>
        <p>
            On the options page you can customize List.it by setting your preferences. There is an option
            to 'Collapse Notes.' By default, the List.it sidebar shows the full text of each of your
            notes. If you check this option then you will only see the first line of each note. This will
            allow you to see more of your notes at once. You will still be able to click on a note to
            expand and edit it.
        </p>
        <p>
            There is another option to 'Hide text format buttons.' If you check this, the editor buttons that
            exist while creating and editing a note will no longer appear. This will make List.it look much
            simpler. The hotkeys for formatting text will still work without the buttons. You may need to
            reopen the List.it sidebar before this change will take effect.
        </p>
    </div>
</div>
