<div class="editor-entry input-div editable" src="about:blank"><%= content %></div>
<div class="editor-bottombar">
    <div class="editor-toolbar-buttons">
        <% _.each(toolbarItems, function(item) { %>
        <% switch(item) { case "italic": %>
        <input class="editor-toggle" data-tag="i" type="button" title="Italic (ctrl-i)">
        <% break; case "underline": %>
        <input class="editor-toggle" data-tag="u" type="button" title="Underline (ctrl-u)">
        <% break; case "bold": %>
        <input class="editor-toggle" data-tag="b" type="button" title="Bold (ctrl-b)">
        <% break; case "spacer": %><span class="spacer"></span>
        <% break; case "color": %>
        <div class="editor-select" data-property="color" title="Color the selected text">
            <div class="editor-select-options">
                <input class="editor-option" type="button" title="Default">
            <% _.each(colors, function(color) { %>
                <input class="editor-option" type="button" title="<%- _.str.capitalize(color) %>" data-value="<%- color %>">
            <% }); %>
            </div>
        </div>
        <% break; case "highlight": %>
        <div class="editor-select" data-property="highlight" title="Color the selected text">
            <div class="editor-select-options">
                <input class="editor-option" type="button" title="Default">
            <% _.each(highlights, function(color) { %>
                <input class="editor-option" type="button" title="<%- _.str.capitalize(color) %>" data-value="<%- color %>">
            <% }); %>
            </div>
        </div>
        <% }}); %>
    </div>
    <div class="editor-icons"></div>
</div>

