<div class="editor-entry input-div editable" src="about:blank"><%= content %></div>
<div class="editor-bottombar">
    <ul class="editor-toolbar-buttons">
        <% _.each(items, function(item) { %>
        <% switch(item) { case "italic": %>
        <li data-editor-command="italic">
            <input type="button" title="Italic (ctrl-i)" class="editor-button">
        </li>
        <% break; case "underline": %>
        <li data-editor-command="underline">
            <input type="button" title="Underline (ctrl-u)" class="editor-button">
        </li>
        <% break; case "bold": %>
        <li data-editor-command="bold">
            <input type="button" title="Bold (ctrl-b)" class="editor-button">
        </li>
        <% break; case "link": %>
        <li data-editor-command="link">
            <input type="button" title="Insert a link" class="editor-button">
            <input class="editor-input input" required="required" name="url" value="http://" type="url">
        </li>
        <% break; case "spacer": %><li class="spacer"></li>
        <% break; case "foreground": %>
        <!-- <li class="editor-group editor-group-fore-color" title="Color the selected text"> -->
        <!-- <ul> -->
        <!-- <li data-wysihtml5-command-value="gray"></li> -->
        <!-- <li data-wysihtml5-command-value="maroon"></li> -->
        <!-- <li data-wysihtml5-command-value="red"></li> -->
        <!-- <li data-wysihtml5-command-value="purple"></li> -->
        <!-- <li data-wysihtml5-command-value="green"></li> -->
        <!-- <li data-wysihtml5-command-value="yellow"></li> -->
        <!-- <li data-wysihtml5-command-value="navy"></li> -->
        <!-- <li data-wysihtml5-command-value="blue"></li> -->
        <!-- </ul> -->
        <!-- </li> -->
        <% }}); %>
    </ul>
    <div class="editor-icons"></div>
</div>

