<h3>Getting started</h3>
<span>Here are some tips to help you get going with list.it:</span>
<ul class="list">
    <% _.each(tips, function(item) { %>
    <li><%=item%></li>
    <% }); %>
</ul>
<div>
    If you have any questions, feel free to email
    <a href="mailto:<%=email%>"><%=email%></a>.
</div>
<br />
<div> Looking forward to hearing from you,
    <ul>
        <% _.each(credits, function(credit) { %>
        <li><%=credit%></li>
        <% }); %>
        <li class="italic">List-it team at MIT CSAIL</li>
    </ul>
</div>
    
