<a class="clickable">
    <img id="searchIcon" class="settingIcon" src="img/controls/search.png" width="16" height="16"
    <% if (searchState) { %>
    title="Close separate searchbar, note creator will now search again.">
    <% } else { %>
    title="Open a separate searchbar.">
    <% } %>
</a>
<a class="clickable">
    <img id="syncIcon" class="<% if (syncState) print("spinner"); %> settingIcon" src="img/controls/sync.png" width="16" height="16" title="Save a backup copy of your notes on our server.">
</a>
<a href="#/options" class="clickable">
    <img id="optionsIcon" class="settingIcon" src="img/controls/options.png" width="16" height="16" title="View Options and Login to save a backup of your notes." >
</a>
<a class="clickable">
  <img id="shrinkIcon" class="settingIcon"
    <% if (shrinkState) { %>
    src="img/controls/arrow-left.png" title="Expand Notes"
    <% } else { %>
    src="img/controls/arrow-down.png" title="Minimize Notes"
    <% } %>
    width="16" height="16">
</a>

