<a class="clickable">
    <img id="searchIcon" width="14" height="14" class="settingIcon searchIcon
    <% if (searchState) { %>
      activeSearch"
    <% } else { %>
      inactiveSearch"
    <% } %>
    <% if (searchFail) { %>
      title="Search stopped because your terms found no notes."
      src="img/controls/search-fail.png"
    <% } else { %>
      src="img/controls/search.png"
      <% if (searchState) { %>
        title="Close separate searchbar, note creator will now search again."
      <% } else { %>
        title="Open a separate searchbar."
      <% } %>
    <% } %>
    >
</a>
<% if (loginState) { %>
  <a class="clickable">
    <img id="syncIcon" class="<% if (syncState) print("spinner"); %> settingIcon"
    src="img/controls/sync.png" width="16" height="16"
    title="Save a backup copy of your notes on our server.">
  </a>
<% } else { %>
  <img id="syncIcon" class="settingIcon"
  src="img/controls/sync-disabled.png" width="16" height="16"
  title="Syncing is disabled. Please login to enable syncing.">
<% } %>
<a href="#/options" class="clickable">
    <img id="optionsIcon" class="settingIcon" src="img/controls/options.png" width="16" height="16" title="View Options and Login to save a backup of your notes." >
</a>
<a href="#/help" class="clickable">
    <img id="helpIcon" class="settingIcon" src="img/controls/help.png" width="13" height="16" title="View the help page.">
</a>
<a href="#/trashbin" class="clickable">
    <img id="trashbinIcon" class="settingIcon" src="img/controls/trashbin.png" width="16" height="16" title="Manage your deleted notes.">
</a>

