.editor-toolbar-buttons {
    display: flex;
    flex-direction: row;
}

.hide-toolbar .editor-toolbar-buttons {
  display: none;
}

.editor-toolbar-buttons input {
    /* Browsers are weird */
    display: block;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: content-box;
}

.editor-toolbar-buttons .editor-toggle, .editor-toolbar-buttons .editor-select {
    background: none no-repeat scroll;
    background-position: center;
    background-size: 16px;
    border-radius: 2px;
    border-width: 2px;
    border-color: #aaa;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px;
    padding: 2px;
}

.editor-toolbar-buttons .editor-toggle:hover,
.editor-toolbar-buttons .editor-select:hover {
    background-color: #ddd;
}

.editor-toolbar-buttons .editor-toggle.active,
.editor-toolbar-buttons .editor-select.active {
    background-color: #eee;
}

.editor-toolbar-buttons .editor-toggle:hover,
.editor-toolbar-buttons .editor-select:hover,
.editor-toolbar-buttons .editor-toggle.active,
.editor-toolbar-buttons .editor-select.active {
    margin: 0;
    border-style: solid;
}


.editor-toolbar-buttons .editor-toggle[data-tag=i] {
    background-image: url("../img/toolbar/format-text-italic.png");
}

.editor-toolbar-buttons .editor-toggle[data-tag=u] {
    background-image: url("../img/toolbar/format-text-underline.png");
}

.editor-toolbar-buttons .editor-toggle[data-tag=b] {
    background-image: url("../img/toolbar/format-text-bold.png");
}

.editor-toolbar-buttons .editor-select[data-property=color]{
    background-image: url("../img/toolbar/format-text-color.png");
}

.editor-toolbar-buttons .editor-select[data-property=highlight]{
    background-image: url("../img/toolbar/format-text-highlight.png");
}

.editor-toolbar-buttons .spacer {
    width: 16px;
}

.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=white],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=white] {
    background-color: white;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=black],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=black] {
    background-color: black;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=maroon],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=maroon] {
    background-color: maroon;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=red],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=red] {
    background-color: red;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=purple],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=purple] {
    background-color: purple;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=green],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=green] {
    background-color: green;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=yellow],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=yellow] {
    background-color: yellow;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=orange],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=orange] {
    background-color: orange;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=navy],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=navy] {
    background-color: navy;
}
.editor-toolbar-buttons .editor-select[data-property=color] .editor-option[data-value=blue],
.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option[data-value=blue] {
    background-color: blue;
}

.editor-toolbar-buttons .editor-select[data-property=color][data-value=white],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=white] {
    border-color: white;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=black],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=black] {
    border-color: black;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=maroon],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=maroon] {
    border-color: maroon;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=red],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=red] {
    border-color: red;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=purple],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=purple] {
    border-color: purple;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=green],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=green] {
    border-color: green;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=yellow],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=yellow] {
    border-color: yellow;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=orange],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=orange] {
    border-color: orange;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=navy],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=navy] {
    border-color: navy;
}
.editor-toolbar-buttons .editor-select[data-property=color][data-value=blue],
.editor-toolbar-buttons .editor-select[data-property=highlight][data-value=blue] {
    border-color: blue;
}

.editor-toolbar-buttons .editor-select-options {
    display: none;
    flex-wrap: wrap;
    width: 60px;
    flex-direction: row;
    position: relative;
    z-index: 99;
    top: 22px;
    left: -22px;
    position: relative;
    border: 2px solid #888;
    border-radius: 2px;
}

.editor-toolbar-buttons .editor-select:hover .editor-select-options {
    display: flex;
}

.editor-toolbar-buttons .editor-select .editor-option:not([data-value]) {
    background-image: url("../img/actions/cancel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.editor-toolbar-buttons .editor-select[data-property=color] .editor-option:not([data-value]) {
    background-color: black;
}

.editor-toolbar-buttons .editor-select[data-property=highlight] .editor-option:not([data-value]) {
    background-color: white;
}

.editor-toolbar-buttons .editor-select .editor-option {
    padding: 0px;
    height: 20px;
    width: 20px;
    display: block;
}

.editor-toolbar-buttons .editor-option.active {
    border: solid 2px #555;
    width: 16px;
    height: 16px;
}

.editor-toolbar-buttons .editor-option:hover {
    border: solid 2px #888;
    height: 16px;
    width: 16px;
}
