html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; /* FF? */
  overflow: auto;

  font-family: Helvetica Neue Ultralight, "Helvetica Neue", "Helvetica", sans-serif;
  color: #111;
  font-size: 14px;

  /* Disable text selection (it's annoying) */
  user-select: none;
  -moz-user-select: none;
}

.page {
  visibility: hidden;
  overflow: auto;
  left: 100%;
  right: -100%;
  bottom: 0;
  top: 0;
  position: fixed;
}

.spinner {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clickable {
  cursor:hand; /* Webkit */
  cursor:pointer; /* FF */
}

ul.list {
    list-style: disc outside;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/* Glowing input boxes */
.input,.button {
    border: 1px solid rgb(255, 201, 18);
    outline:none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: white;
    color: black;
}

.input:focus,.button:focus {
    box-shadow: 0 0 4px rgba(207, 167, 28, 100);
    -webkit-box-shadow: 0 0 4px rgba(207, 167, 28, 100);
    -moz-box-shadow: 0 0 4px rgba(207, 167, 28, 100);
}

.button {
  background-color: rgb(255, 201, 18);
  border: 1px solid rgb(207, 167, 28);
  margin: 2px 5px 2px 5px;
  border-radius: 5px;
  color: black;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clear {
    clear: both;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}


p {
    padding-bottom: 1em;
}

.ui-state-highlight {
    height: 3em;
    line-height: 1.2em;
}

.page {
    min-width: 300px;
}

.off-screen {
    left: -9999px !important;
    position: absolute !important;
}

.tableform legend {
    font-weight: bold;
}

.tableform .field > * {
    display: table-cell;
}
.tableform .field label {
    padding-right: 10px;
}
.tableform .field {
    display: table-row;
}
.tableform .submit {
    text-align: right;
    position: relative;
    /*display: inline-block;*/
}

.tableform .submit * {
    margin: 0px;
}

.tableform fieldset {
    padding: 10px;
}

body.gripping, body.gripping * {
    cursor: move !important;
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

.grip {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
