/*
 * TODO(wstyke): On Hover/Focus - darken borders for [NewNote, Search, Note].
 */

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; /* FF? */

  font-family: Helvetica Neue Ultralight, "Helvetica Neue", "Helvetica", sans-serif;
  color: #111;
  font-size: 14px;
}

.page {
  display: none;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.jiggly {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation: jiggle 0.2s infinite;
    -o-animation: jiggle 0.2s infinite;
    animation: jiggle 0.2s infinite;
}

.spinner {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes jiggle {
    0% {
        -moz-transform: rotate(-4deg);
    }
    50% {
        -moz-transform: rotate(4deg);
    }
}
@-o-keyframes jiggle {
    0% {
        -o-transform: rotate(-4deg);
    }
    50% {
        -o-transform: rotate(4deg);
    }
}
@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-4deg);
    }
    50% {
        -moz-transform: rotate(4deg);
    }
}
@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-4deg);
    }
    100% {
        -webkit-transform: rotate(4deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* CSS3 Box Model */
.hbox, .vbox, .box {
  display: -webkit-box;
  display: -moz-box;
  display: box;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hbox, .vbox {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -ms-flex-align: stretch;
}

.hbox {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.vbox {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;

  -webkit-flex: 1;
  flex: 1;
}

.center_box, .justified_box {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -ms-flex-align: center;
}

.center_box {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
}

.justified_box {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
}


.clickable {
  cursor:hand; /* Webkit */
  cursor:pointer; /* FF */
}


ul.list {
    list-style: disc outside;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/* Glowing input boxes */
.input,.button {
    border: 1px solid #48E;
    outline:none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: white;
    color: black;
}

.input:focus,.button:focus {
    box-shadow: 0 0 4px rgba(85, 153, 255, 100);
    -webkit-box-shadow: 0 0 4px rgba(85, 153, 255, 100);
    -moz-box-shadow: 0 0 4px rgba(85, 153, 255, 100);
}

.button {
  background-color: #59F;
  border: 1px solid #48E;
  margin: 2px 5px 2px 5px;
  border-radius: 5px;
  color: white;
}

.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}

p {
    padding-bottom: 1em;
}

.ui-state-highlight {
    height: 3em;
    line-height: 1.2em;
}

.page {
    min-width: 280px;
}

.center {
    text-align: center;
}

.off-screen {
    left: -9999px !important;
    position: absolute !important;
}

.tableform legend {
    font-weight: bold;
}

.tableform .field > * {
    display: table-cell;
}
.tableform .field label {
    padding-right: 10px;
}
.tableform .field {
    display: table-row;
}
.tableform .submit {
    text-align: right;
    position: relative;
    /*display: inline-block;*/
}

.tableform .submit * {
    margin: 0px;
}

.tableform fieldset {
    padding: 10px;
}

.hlist li {
    display: inline-block;
}

.close-btn {
    background-position: center;
    background-image: url("../img/close.png");
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
}
