.note-content {
    hyphens: auto;
    line-height: 1.2em;
}

.note-content blockquote {
  border-left: 3px solid lightgray;
  margin: 5px;
  padding: 5px;
  color: #222;
  background: #fefefe;
  outline: 1px solid #f0f0f0;
  white-space: normal;
}

.note-content a img.favicon {
  padding: 2px;
  vertical-align: middle;
}

.note-content b {
  font-weight: bold;
}

.note-content u {
  text-decoration: underline;
}

.note-content i {
  font-style: italic;
}

/* Use listt_tag instead of just tag to avoid conflict with pasted html */
.note-content .listit_tag {
    color: #1B649F;
}
