#notes-container { 
    padding:10px;
}

.note {
    margin: 2px 0px 1px 0px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc; /*#A0A0A0; */
    border-left: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-top: 1px solid #ddd;
    background-color: hsl(240, 100%, 100%);/* hsl(200, 100%, 95%);*/
    width: 100%;
    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
}

.note > *{
    display: block;
}

#notes.shrink .note .contents {
  height: 1.2em;
  line-height: 1.8em;
  margin-top: -0.3em;
}

#notes.shrink .note .contents >*{
  display: none;
}
#notes.shrink .note .contents >*:first-child {
  display: inherit;
}

#notes.shrink .note .contents * {
  max-height: 16px;
}

.note.pinned {
    background-color:  hsl(240, 40%, 97%) !important; /*hsl(270, 100%, 95%);*/
}

.note .contents, .note .editor textarea, .note .editor textarea + .wysihtml5-sandbox {
    height: auto;
    border: none; 
    resize: none;
    width: 100%;
    display: block;
    background: none;
    outline: none;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 0;
    margin: 0;
    color:#000;

    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;

    line-height: 1.2em;
    text-overflow:ellipsis;
    overflow: hidden;
}
.note .contents > * {
    max-width: 100%;
}
.note .icon {
    background-image: url("../img/star-gray.png");
    background-size: 16px 16px;
    margin: 8px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.note.pinned .icon {
  background-image: url("../img/star-gold.png");
  background-size: 16px 16px;
}

.note .close-btn {
    margin: 12px;
    right: 0px;
}

/* Use listt_tag instead of just tag to avoid conflict with pasted html */
.note .listit_tag {
    color: #1B649F;
}

.notelist {
    position: relative;
}

.note .editor-container {
    display: none;
}

