.notes {
    height: 100%;
    overflow-x: auto;
}
.notelist {
    margin: 10px;
}

.notes::before {
    display: block;
    height: 0;
    overflow: hidden;
    color: white;
    font-weight: bold;
    content: "- no notes match search terms -";
    background: #ED8A00;
    text-align: center;
    width: 100%;
    transition: height .1s ease-in-out, opacity .1s;
    line-height: 1.2em;
    opacity: 0;
}

.notes.search-failed::before {
    opacity: 1;
    height: 1.2em;
    border-bottom: 1px solid #aaa;
}


.note {
    display: flex;
    margin: 2px 0px 1px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: hsl(240, 100%, 100%);/* hsl(200, 100%, 95%);*/
    width: 100%;
    padding-right: 2px;
    box-shadow: 0 2px 2px 1px #ddd;
    padding: 1px;
}

.note.pinned {
    border: 2px solid rgb(255, 201, 18);
    padding: 0px;
}

.note-content img {
    vertical-align: middle;
}

.notes.shrink .note:not(.editing) .note-content {
  white-space: nowrap;
  overflow: hidden;
  height: 1.2em;
  position: relative;
}

.notes.shrink .note:not(.editing) .note-content::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    content: " ";
    position: absolute;
    display: block;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
}

.notes.shrink .note:not(.editing) .note-content * {
  max-height: 16px;
  width: auto;
}

/* Show editor bottombar only when editing */

.note .editor-bottombar {
  z-index: 1;
  position: absolute;
  background: white;
  right: 37px;
  width: auto;
  margin-top: 9px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 2px 2px 1px rgb(233, 233, 233);
}

.note.pinned .editor-bottombar {
  margin-top: 8px;
  border-bottom: 2px solid rgb(255, 201, 18);
  border-left: 2px solid rgb(255, 201, 18);
  border-right: 2px solid rgb(255, 201, 18);
}

.note:not(.editing) .editor-bottombar {
    display: none;
}

.note .grip {
  background-image: url("../img/circle.svg");
  margin: 8px;
  width: 16px;
  background-repeat: no-repeat;
}

.note.pinned .star-icon {
  background-image: url("../img/note/star-active.svg");
}

.note .close-btn {
    margin: 0px;
    height: 32px;
    width: 32px;
    right: 0px;
    background-position: center;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
}

.note .note-body {
    flex: 1;
    /* Prevents overflow */
    /* https://css-tricks.com/flexbox-truncated-text/ */
    min-width: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.note:not(.editing) .note-body .listit_tag:hover, .note:not(.editing) .note-body a:hover {
  cursor: pointer;
}
