blockquote {
  border-left: 3px solid lightgray;
  margin: 5px;
  padding: 5px;
  color: #222;
  background: #fefefe;
  outline: 1px solid #f0f0f0;
  white-space: normal;
}

.source a {
  color: #333;
}
.source {
  white-space: nowrap;
}

a img.favicon {
  padding: 2px;
  vertical-align: middle;
}

b {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

i {
  font-style: italic;
}

/* Use listt_tag instead of just tag to avoid conflict with pasted html */
.listit_tag {
    color: #1B649F;
}
