.notes {
    height: 100%;
    overflow-x: auto;
}
.notelist {
    margin: 10px;
}

.notes.search-failed .note {
    opacity: .9;
    background: repeating-linear-gradient(
        45deg,
        #f8f8f8,
        #f8f8f8 10px,
        #ffffff 10px,
        #ffffff 20px
    );
}

.note {
    display: flex;
    margin: 2px 0px 1px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: hsl(240, 100%, 100%);/* hsl(200, 100%, 95%);*/
    width: 100%;
    padding-right: 2px;
    box-shadow: 0 2px 2px 1px #ddd;
    padding: 1px;
}

.note.pinned {
    border: 2px solid rgb(255, 201, 18);
    padding: 0px;
}

.note-body img {
    vertical-align: middle;
}

.notes.shrink .note-body {
  height: 1.2em;
  line-height: 1.8em;
  margin-top: -0.3em;
}

.notes.shrink .note-body * {
  max-height: 16px;
  width: auto;
}

.note > .note-body {
    height: auto;
    border: none;
    resize: none;
    width: 100%;
    display: block;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    color:#000;

    hyphens: auto;
    line-height: 1.2em;
    text-overflow:ellipsis;
    overflow: visible;
}

.note > .note-body > .editor {
    padding-top: 8px;
    padding-bottom: 6px;
}

.editor-entry {
    outline: none;
}

.note .note-body > * {
    max-width: 100%;
}

/* Carry note color down. */
.note .editor,
.note .editor-bottombar {
  background-color: inherit;
}

.note .editor {
    position: relative;
}

.note .editor-bottombar {
  z-index: 1;
  position: absolute;
  background: white;
  right: 37px;
  width: auto;
  margin-top: 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 2px 2px 1px rgb(233, 233, 233);
}

.note.pinned .editor-bottombar {
  margin-top: 6px;
  border-bottom: 2px solid rgb(255, 201, 18);
  border-left: 2px solid rgb(255, 201, 18);
  border-right: 2px solid rgb(255, 201, 18);
}

.note:not(.editing) .editor-bottombar {
    display: none;
}

.note .grip {
  background-image: url("../img/circle.svg");
  margin: 8px;
  width: 16px;
  background-repeat: no-repeat;
}

.note.pinned .star-icon {
  background-image: url("../img/note/star-active.svg");
}

.note .close-btn {
    margin: 0px;
    height: 32px;
    width: 32px;
    right: 0px;
    background-position: center;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
}

.note > .note-body {
    flex: 1;
}

.note:not(.editing) .note-body .listit_tag:hover, .note:not(.editing) .note-body a:hover {
  cursor: pointer;
}
