#omnibox {
  padding: 0px 11px;
}

.note-creator .editor {
  background: #FFF;
  cursor: text;
  padding: 0;
  margin: 0;
}

#omnibox .editor {
  border: 1px solid rgb(207, 167, 28);   
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 7px 7px 0px 7px;
  margin: 0px -3px;

  min-height: 60px;

  // Expand
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;

  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#omnibox .editor-bottombar {
  margin-top: auto;
  -o-align-items: flex-end;
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.note-creator .editor-entry, .note-creator .wysihtml5-sandbox {
  text-align:left;
  height: 20px;
  min-height: 40px;
  resize: none;
  background: none;
  border: 0px;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.searchbar {
  position: relative;
  /* Box stuff */
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;

  margin: 0px 0px 7px 0px;
}

.searchbar input {
  font: inherit;
  width: 100%;
  display: block;
  overflow: hidden;
  resize: none;
  border: 1px solid rgb(207, 167, 28);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 18px;
  padding: 2px;
  background-color: rgb(255, 214, 152);
  color: black;

  margin: 0 -3px; /* Padding and stuff? */

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.searchbar .clear-btn {
  right: 10px;
  width: 0px;
  color: orange;
  position: relative;
  cursor: pointer;
}

.searchbar input:focus {
  outline: 1px solid rgb(255, 149, 0);
}

/*placeholder text in searchbar*/
::-webkit-input-placeholder { /* WebKit browsers */
  color: black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: black;
}

#controls {
  position: relative;
  font-size: 1.01em;
  color: black;
  padding: 1px 3px;
  box-shadow: 1px 0px black;
  background: rgb(255, 149, 0);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.settingIcon {
  margin-bottom: 2px;
}

.searchIcon{
  padding: 1px 1px;
}

.activeSearch{
  border-radius: 5px;
  background-color: rgb(221, 129, 11);
  box-shadow: 1px 1px rgb(255, 189, 0);
}

#helpIcon {
  margin-left: 1px;
}

#controls > a {
  display: block;
}

/* Icon Tab Icon Containers! */
.iconTab {
  height: 22px;
  width: 22px;
  color:rgb(120,120,120);
  padding-left:5px; 
  padding-right:5px;
  padding-bottom:3px;
  background:transparent;
  margin-right: 5px;

  border-radius: 10px;
  cursor:hand; /* Webkit */
  cursor:pointer; /* FF */
}
.iconTab:hover {
  color:black;
}

.editor-toolbar .wysihtml5-dialogs  {
    position: fixed; /* ick. */
    left: 10px;
    right: 10px;
    z-index: 99;
}

.editor-toolbar [data-wysihtml5-dialog] {
    margin-top: 10px;
    padding: 10px;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f5f5 !important;
    border: 1px solid gray;
}
.editor-bottombar {
  width: 100%;
}

#savedSearchBar {
  margin-top: 5px;
  margin-bottom: -8px;
}

.savedSearch {
  background: #FFE28D;
  margin-right: 2px;
  border-radius: 2px;
  cursor:pointer;
  display: inline-flex;
}

#savedSearchBar.editing #savedSearchEditButton,
#savedSearchBar.editing #savedSearchAddButton,
.savedSearch.active {
  background-color: #FFF0C4;
}

.savedSearch .text {
  white-space: nowrap;
  height: 1em;
  padding: 2px;
  min-width: 1em;
  display: block;
}

#savedSearchBar.editing .savedSearch {
  cursor:inherit;
}
#savedSearchBar.editing .savedSearch .text {
  background: white;
  border: 1px solid grey;
}

#savedSearchBar #savedSearchAddButton {
  display: none;
}

#savedSearchBar.editing #savedSearchAddButton, 
#savedSearchBar #savedSearchEditButton {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 3px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  border-radius: 2px;
}
#savedSearchBar.editing #savedSearchAddButton {
  background-image: url("../img/savedsearchbar/plus.png");
}
#savedSearchBar #savedSearchEditButton {
  background-image: url("../img/savedsearchbar/edit.png");
}
#savedSearchBar.editing .close-btn {
  width: 1em;
  height: 1em;
  padding: 3px;
  background-position: center;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
}

