
#omnibox {
  float: left;
  border: 1px solid rgba(128,128,128,.5);   
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #FFF;
  padding: 7px 7px 0px 7px;
  cursor: text;
  width: 100%;
  margin: 14px 7px !important;
}

#omnibox.focus {
  border: 1px solid #d36c00 !important;
  box-shadow:0px 0px 0px 0px !important;
}
#omnibox.focus #omnibox-desc {
    display: none;
}

#omnibox.focus {
  min-height: 1.1em; 
}

#omnibox-entry {
  text-align:left;
  height: auto;
  min-height: 19px;
  resize: none;
  background: none;
  border: 0px;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#optionsCol {
  position: relative;
  top: 15px;
  float: right;
  font-size: 1.01em;
  color: rgb(120,120,120);
  padding: 1px 3px;
  margin: 5px 0px;
  box-shadow: 1px 0px rgb(220,220,220);
  background: #ccc !important;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.settingIcon {
  margin-bottom: 2px;
}

#optionsCol > a {
  display: block;
}

#optionsCol > img:hover {
  background-color: rgba(128,128,128,.5);
}

#omnibox-icons {
  position: relative;
  left: auto;
  bottom: 0px;
  font-size: 1.01em;
  padding: 0px;
  margin: 0;
  float:right;
}

#omnibox-toolbar {
  position: relative;
  left: auto;
  bottom: 0px;
  float: left;
}

/* Icon Tab Icon Containers! */
.iconTab {
  height: 20px;
  color:rgb(120,120,120);
  padding-left:5px; 
  padding-right:5px;
  background:rgba(255,255,255,0.9) !important;
  margin-right: 5px;

  border-radius: 10px;
  cursor:hand; /* Webkit */
  cursor:pointer; /* FF */
}
.iconTab:hover {
  color:black;
}
