#omnibox {
  padding: 0px 11px;
}

.note-creator .editor {
  background: #FFF;
  cursor: text;
  padding: 0;
  margin: 0;
}

#omnibox .editor {
  border: 1px solid rgba(128,128,128,.5);   
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 7px 7px 0px 7px;
  margin: 0px -3px;
}


.note-creator .editor.focus {
  border: 1px solid #d36c00;
  box-shadow:0px 0px 0px 0px;
}

.note-creator .editor.focus {
  min-height: 1.1em; 
}

.note-creator .editor-entry, .note-creator .editor-entry + .wysihtml5-sandbox {
  text-align:left;
  height: 20px;
  min-height: 40px;
  resize: none;
  background: none;
  border: 0px;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.searchbar {
  font: inherit;
  width: 100%;
  display: block;
  overflow: hidden;
  resize: none;
  border: 1px solid rgba(128,128,128,.5);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 18px;
  margin: 0px 0px 7px -3px;
  padding: 2px;
  background-color: #ccc;
}

.searchbar:focus {
  outline: 1px solid black;
}

#controls {
  position: relative;
  font-size: 1.01em;
  color: rgb(120,120,120);
  padding: 1px 3px;
  margin: 5px 0px;
  box-shadow: 1px 0px rgb(220,220,220);
  background: #ccc !important;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.settingIcon {
  margin-bottom: 2px;
}

.inactiveSearch{
  opacity: 0.5;
}

#helpIcon {
  margin-left: 1px;
}

#controls > a {
  display: block;
}

/* Icon Tab Icon Containers! */
.iconTab {
  height: 22px;
  width: 22px;
  color:rgb(120,120,120);
  padding-left:5px; 
  padding-right:5px;
  padding-bottom:3px;
  background:transparent;
  margin-right: 5px;

  border-radius: 10px;
  cursor:hand; /* Webkit */
  cursor:pointer; /* FF */
}
.iconTab:hover {
  color:black;
}

.editor-toolbar .wysihtml5-dialogs  {
    position: fixed; /* ick. */
    left: 10px;
    right: 10px;
    z-index: 99;
}

.editor-toolbar [data-wysihtml5-dialog] {
    margin-top: 10px;
    padding: 10px;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f5f5 !important;
    border: 1px solid gray;
}
.editor-bottombar {
  width: 100%;
}
