/*ICON DARK ORANGE rgb(255, 201, 18);
  ICON LIGHT ORANGE rgb(255, 216, 78);
  ICON CIRCLE BORDER rgb(207, 167, 28);
  BACKGROUND ORANGE rgb(255, 250, 233)*/

#main-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(207, 167, 28);
    padding: 10px 0;
    width: 100%;
    background: rgb(255, 216, 78); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255,216,78) 0%, rgb(255, 207, 39) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,216,78)), color-stop(100%,rgb(255, 207, 39))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,216,78) 0%,rgb(255, 207, 39) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,216,78) 0%,rgb(255, 207, 39) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255,216,78) 0%,rgb(255, 207, 39) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(255,216,78) 0%,rgb(255, 207, 39) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,216,78)', endColorstr='rgb(255, 207, 39)',GradientType=0 ); /* IE6-9 */ 
}

#main-omnibox {
    flex: 1;
}

#page-main {
  background-color: #eeeeee;
  overflow: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#page-main > .contents {
  flex: 1;
  overflow-x: auto;
}


#main-notes > .notes {
    /* Always scroll notes */
    overflow-y: scroll;
}
