/* Options Page CSS */

/*ICON DARK ORANGE rgb(255, 201, 18);
  ICON LIGHT ORANGE rgb(255, 216, 78);
  ICON CIRCLE BORDER rgb(207, 167, 28);
  BACKGROUND ORANGE rgb(255, 250, 233)*/

a, .tabbar a {
  color:#d36c00;
}

#page-options {
  font-size: 16px;
  width:100%;
  height:100%;
  overflow-y: auto;
  overflow-x: none;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background-color: rgb(255, 250, 233);
}

#options-header {
  margin-right: auto;
  padding: 0em 2em;
  border-bottom: 1px solid #000000;
  position: absolute;
  width: 1000px;
  z-index: 1;
}
.options-title {
  font-family: Century Gothic, Helvetica, sans-serif;
/* Looks nice, but collapses in Firefox to cross out 
   "take me back to my notes"
   border-bottom:1px solid #d36c00;*/ 
  font-size: 600%;
  font-weight: 100;
  line-height: 100%;
}

#title-circle {
  background-color: rgb(255, 201, 18);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  right: 60px;
  top: -60px;
}

#options-body {
  margin-left: 190px;
  margin-top: -60px;
  width: 959px;
}



.options-item {
  border: 1px solid black;
  border-radius: 5px;
  margin:0 0 1.2em;
  margin-left: 10px;
  margin-right: 85px;
  padding: 1em;
  vertical-align:top;
  width: 350px;
  min-width: 280px;
  display: inline-block;
  background-color: white;
}
.options-item h3 {
  font-weight:100; 
  font-size: 180%; 
  margin-top:0.2em; 
  margin-bottom: 0.5em;

  display: block;
}
.options-item ul {
  padding-left: 20px;
}
.options-item li {
  padding-bottom: .25em;
  padding-left: 0px;
}

.options-item form {
  width:auto;
}

@media (max-width: 900px) {
  #options-body {
    width: 405px;
  }
}

#loginForm .inputLabel {
  font-weight: 500;
  margin-bottom: 4px;
}
#loginForm .input {
  margin-bottom: 10px;
  width: 100%;
  height: 28px;
}

.studyOption {
  display:inline-block;
  width: auto !important;
  height: auto !important;
  margin-right: 5px;
}

.options-info > div {
  margin-bottom: 0px;
  padding: 0;
  margin: 5px 0;
}

.formStatus {
  margin:5px auto;
  border-radius:4px;
  box-shadow: 2px 2px 4px #aaaaaa;
  background:#f1fbe5;
  border: 1px solid #8cce3b;
  padding:4px;
}

/* Forms */

#options-login[data-mode=register] :required:valid {
    background-color: #BEFFCE;
}
#options-login[data-mode=register] :focus:required:invalid {
    background-color: #FFC0CB;
}

#loginFormButtons {
    height: 30px;
}
.formButtons {
    float: left;
    left: 50%;
    top: 0px;
    position: relative;
}

.formButtons .container {
    position: relative;
    float: left;
    left: -50%;
    height: 0px;
}
.formButtons .button {
    min-width: 120px;
    width: auto;
    height: 30px;
}
