#controls-container {
    border-bottom: 1px solid silver;
    padding: 10px 0px;
}

/* Note List Styles*/
#content-container {
  background-color: #ddd;
  background-color: #fff;
  background-color: hsl(60, 100%, 98%); /*(240, 100%, 99%);*/
}
.scroll {
    overflow-x: none;
    overflow-y: auto;
    max-height: 100%;
}

#page-main {
    background: #F5F5F5;
}
