/* Help Page CSS */

/*ICON DARK ORANGE rgb(255, 201, 18);
  ICON LIGHT ORANGE rgb(255, 216, 78);
  ICON CIRCLE BORDER rgb(207, 167, 28);
  BACKGROUND ORANGE rgb(255, 250, 233)*/

#page-help {
  font-size: 16px;
  width: 100%;
  height: 100%:
  overflow-y: auto;
  overflow-x: none;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#help-header {
  padding: 0em 2em;  
  border-bottom: 1px solid #000000;
  width: 86%;
  position: absolute;
  margin-right: auto;
  z-index: 1;
}

.help-title {
  font-family: Century Gothic, Helvetica, sans-serif;
  font-size: 600%;
  font-weight: 100;
  line-height: 100%;
}

#title-circle {
  background-color: rgb(255, 201, 18);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  right: 60px;
  top: -60px;
  z-index: 0;
}

#help-main {
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px;
  background-color: white;
  padding: 1em;
}

.options-item {

  padding: 1em;
  vertical-align:top;
  width: 350px;
  min-width: 280px;
  display: inline-block;
}

#help-main h3 {
  font-size: 200%;
  text-align: center;
}

#help-main h4 {
  font-size: 150%;
  text-align: center;
  margin-top: 1.8em;
}

#help-main p {
  padding: 0px;
  margin-top: 1em;
}

#help-main table {
  border-collapse: separate;
  margin: 1em auto 1.5em;
  width: 80%;
}

#help-main th, td {
  border: 1px solid black;
  padding: 2px 8px;
  vertical-align: middle;
}

#help-main th {
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 201, 18);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#help-main td {
  font-size: 85%;
  text-align: left;
}

#help-main .controltd {
  background-color: rgb(255, 149, 0);
}

#help-main .controltd, #help-main .imgtd {
  text-align: center;
}


#help-main img.inactive {
  opacity: 0.5;
}

#help-main .help-platform h3 {
  margin-top: 1.7em;
}
