#page-help {
  font-size: 16px;
  background-color: #FFF;
  width: 100%;
  height: 100%:
  overflow-y: auto;
  overflow-x: none;
}

#help-header {
  width: 100%;
  height: 150px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.help-title {
  font-family: helvetica neue ultralight,helvetica;
  font-size: 600%;
  font-weight: 100;
  text-shadow: rgba(64, 64, 64, 0.496094) 4px 5px 3px;
  line-height: 100%;
}

#help-main {
  background-color: #FFFCED;
  font-family: Helvetica Neue Ultralight, "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  width: 70%;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1em;
}

#help-main h3 {
  font-size: 200%;
  text-align: center;
}

#help-main h4 {
  font-size: 150%;
  text-align: center;
  margin-top: 1.8em;
}

#help-main p {
  padding: 0px;
  margin-top: 1em;
}

#help-main table {
  border-collapse: separate;
  margin: 1em auto 1.5em;
  width: 80%
}

#help-main th, td {
  border: 1px solid rgb(253, 150, 91);
  padding: 2px;
  vertical-align: middle;
}

#help-main th {
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 189, 128);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#help-main td {
  font-size: 85%;
  text-align: left;
}

#help-main .controltd {
  background-color: rgb(240, 127, 64);
}

#help-main .controltd, #help-main .imgtd {
  text-align: center;
}

#help-main table img {
  height: 1.2em;
}

#help-main img.inactive {
  opacity: 0.5;
}

#help-main .help-platform h3 {
  margin-top: 1.7em;
}
