/* Trashbin Page CSS */

#page-trashbin {
  font-size: 16px;
  width:100%;
  height:100%;
  overflow-y: auto;
  overflow-x: none;
  background-color: rgb(255, 250, 233);
}

#trashbin-header {
  margin-right: auto;
  padding: 0em 2em;
  border-bottom: 1px solid #000000;
  position: absolute;
  width: 86%;
  z-index: 1;
}

.trashbin-title {
  font-family: Century Gothic, Helvetica, sans-serif;
/* Looks nice, but collapses in Firefox to cross out 
   "take me back to my notes"
   border-bottom:1px solid #d36c00;*/ 
  font-size: 600%;
  font-weight: 100;
  line-height: 100%;
}

#title-circle {
  background-color: rgb(255, 201, 18);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  right: 60px;
  top: -60px;
}

#trashbin-body {
  margin-left: 100px;
  margin-top: -60px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.trashbin-note {
  margin: 2px 0px 1px 0px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: hsl(240, 100%, 100%);/* hsl(200, 100%, 95%);*/
  width: 100%;
  box-align: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  padding-right: 2px;
  min-height: 30px;
}

.trashbin-note .restore-trash-note {
  float:right;
}

.trashbin-note .destroy-trash-note {
  float:right;
}

.trashbin-note .contents {
  max-width: 100%;
  height: auto;
  border: none; 
  resize: none;
  width: 100%;
  display: block;
  background: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  color:#000;

  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */ 

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;

  line-height: 1.2em;
  text-overflow:ellipsis;
}