@media (max-height: 300px) {
  #page-main {
    display: block;
    overflow: auto !important;
  }
  #notes-cointainer {
    display: block;
    height: auto;
  }

  #notes-container > .notelist {
      position: static;
      min-height: 0 !important;
  }
}
