html, body {
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0px;
  height: auto;
  overflow: auto;
  background-color: transparent !important;
  line-height: 1.2;

  font-family: Helvetica Neue Ultralight, "Helvetica Neue", "Helvetica", sans-serif !important;
  font-weight: normal;
  font-size: 14px;
}

body img {
    vertical-align: middle;
}
