
<h3>Account Backup Service</h3>
<ul class="list">
    <li>Access your notes online at <a href="https://welist.it/zen/index.html">List-it Zen</a>.</li>

    <li>Free backup: your notes are safe.</li>
</ul>

<form id="loginRegisterForm" class="loginForm" name=
    "loginRegisterForm">
    <p class="modal mode-connected bold">You are logged in as: <span id="emailDisplay"><%- email %></span></p>
    <div class="modal mode-login mode-register">
        <label for="email" class="inputLabel">Email:</label>
        <input class="input" id="email" type="email" name="email" spellcheck="false" required="" autofocus="">

        <label for="pw1" class="inputLabel">Password:</label>
        <input class="input" id="pw1" type="password" name="pw1" spellcheck="false" required="">

        <div class="modal mode-register">
            <label for="pw2" class="inputLabel">Re-type Password:</label>
            <input class="input" id="pw2" type="password" name="pw2" spellcheck="false" required="">
        </div>
    </div>

    <div id="formStatus" class="modal formStatus" style="display:none;"></div>
    <div class="modal mode-register">
        <p>
        <b>Contribute to science!</b>
        </p>
        <p>
        We are conducting research on note taking.  If you give us (researchers
        at MIT) permission to study your notes, you will be helping us to
        better understand how people record information and enable us to build
        better tools.
        </p>
        <p>
        If you participate, your notes will be kept confidential to
        <i>the list.it group</i> and will not be divulged to anyone outside
        without your explicit (further) permission.
        </p>

        <input id="participate" class="studyOption" type="checkbox" checked="checked">
        <label for="participate">Participate in research study?</label>
    </div>
    <div id="loginFormButtons">
        <div class="modal mode-register noslide formButtons">
            <div class="container">
                <input id="createAccountButton" type="button" class="button" value="Create Account!">
                <input id="cancelButton" type="button" class="button" value="Cancel">
            </div>
        </div>
        <div class="modal mode-login noslide formButtons">
            <div class="container">
                <input id="loginButton" type="button" class="button" value="Login">
                <input id="registerButton" type="button" class="button" value="New Account">
            </div>
        </div>
        <div class="modal mode-connected noslide formButtons">
            <div class="container">
                <input id="logoutButton" type="button" class="button" value="Logout">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>
